* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

header {
  height: 100px;
  background-color: black;
  color: #fff;
}

.header {
  max-width: 1140px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
}

.logoimg {
  width: 80px;
  height: 60px;
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid black;
}

.menu li a:hover {
  border-bottom: 5px solid #b28756;
  color: #b28756;
}

.banner {
  height: calc(100vh - 100px);
  background-color: #333;
  background-image: url("../assets/image/complementos/bg.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner h1 span {
  color: #b28756;
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 25px;
}

.banner a {
  display: block;
  background-color: #b28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}

.banner .sliders_pointers {
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #b28756;
}

.default {
  padding-top: 50px;
  padding-bottom: 50px;
}

.default .section_tittle,
.default .section_desc {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section_tittle {
  font-size: 20px;
}

.default .section_desc {
  font-size: 12px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .section_body {
  margin: auto;
  max-width: 1140px;
}

.default.light {
  background-color: #f7f7f7;
}

.default.light .section_tittle,
.default.light .section_body {
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section_tittle,
.default.dark .section_body {
  color: #fff;
}

.button {
  display: inline-block;
  background-color: #b28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 30px;
  border-radius: 20px;
}

/*
CSS AREAS ESPECIFICAS
*/

.section_aboutus {
  display: flex;
}

.section_aboutus-left {
  flex: 1;
}

.section_aboutus-left p {
  font-size: 14px;
  line-height: 25px;
  color: #000;
  font-weight: bold;
}

.section_aboutus-right {
  width: 520px;
  text-align: center;
}

.section_aboutus-right img {
  width: 480px;
  box-shadow: 0px 7px 10px #333;
}

.section_services {
  display: flex;
}

.section_service {
  flex: 1;
  text-align: center;
  border-right: 1px solid #333;
  padding: 18px;
}

.section_service:first-child {
  border-left: 1px solid #333;
}

.section_service h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}

.section_service p {
  margin-top: 10px;
  font-size: 13px;
  color: #e0d9d9;
}

.section_projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section_projects-filters {
  border: 1px solid #999;
  background-color: #eeee;
  border-radius: 30px;
  display: inline-block;
  padding: 0px 20px;
}

.section_projects-filters ul,
.section_projects-filters li {
  list-style: none;
}

.section_projects-filters li {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  border-left: 1px solid #999;
  border-bottom: 3px solid #eee;
  cursor: pointer;
}

.section_projects-filters li:hover {
  border-bottom: 3px solid #b28756;
}

.section_projects-filters li:first-child {
  border-left: 0;
}

.section_projects_fotos {
  width: 100vw;
  max-width: 1140px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section_projects_foto {
  width: 280px;
}

.section_projects_fotoarea {
  margin: 10px;
  width: 260px;
  height: 160px;
}

.section_projects_fotoarea img {
  width: 260px;
  height: 160px;
}

.section_projects_fotoinfo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 260px;
  height: 160px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.section_projects_fotoinfo h5 {
  font-size: 18px;
  font-weight: 600;
}

.section_projects_fotoarea:hover .section_projects_fotoinfo {
  display: flex;
}

.bg_team {
  background-image: url(../assets/image/complementos/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
}

.section_team-area {
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_team {
  overflow: hidden;
  max-width: 880px;
  margin: auto;
}

.section_team .sliders {
  width: 1000vw;
  height: 100%;
}

.section_team .slide {
  width: 280px;
  height: 100%;
  min-height: 300px;
  display: inline-block;
  background-color: #fff;
  margin-right: 20px;
}

.section_team .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 30px;
}

.section_team-avatar {
  width: 150px;
  height: auto;
}

.section_team-name {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 17px;
  margin-top: 30px;
}

.section_team-role {
  font-size: 14px;
  color: #999;
  margin-top: 5px;
}

.section_team-social {
  display: flex;
  margin-top: 20px;
}

.section_team-social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  border-radius: 30px;
  margin-right: 10px;
}

.section_team-social a:hover {
  background-color: #b28756;
}

.testimonials .section_body {
  max-width: initial;
}

.section_testimonials {
  overflow: hidden;
}

.section_testimonials .sliders {
  width: 1000vw;
  height: 100%;
}

.section_testimonials .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

.section_testimonials .slidearea {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.section_testimonials-avatar {
  width: 100px;
}

.section_testimonials-name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

.section_testimonials-role {
  font-size: 14px;
}
.section_testimonials-quoteimg {
  width: 20px;
  margin-top: 30px;
}
.section_testimonials-quote {
  margin-top: 10px;
  font-size: 13px;
  max-width: 700px;
  color: #020202;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

.section_testimonials .sliders_pointers {
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.section_testimonials .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.section_testimonials .pointer.active {
  background-color: #b28756;
}

.section_companies-area {
  display: flex;
  align-items: center;
}

.section_companies {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.section_company {
  flex: 1;
  text-align: center;
}

.section_price {
  display: flex;
}

.section_price-item {
  flex: 1;
  background-color: #fff;
  margin-right: 20px;
  padding: 20px;
  text-align: center;
}

.section_price-item:last-child {
  margin-right: 0;
}

.section_price-item-name {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.section_price-item-money {
  font-weight: bold;
  font-size: 22px;
  margin-top: 10px;
}

.section_price-item-period {
  color: #999;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-price-item-point {
  font-size: 12px;
}

.premium {
  background-color: #fff !important;
  border-top: 1px solid #ccc;
}
.premium .section_body {
  max-width: initial;
}
.section_premium {
  overflow: hidden;
}
.section_premium a {
  margin-top: 30px;
}
.section_premium .sliders {
  width: 1000vw;
  height: 100%;
}
.section_premium .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}
.section_premium .slidearea {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1140px;
  border-bottom: 1px solid #ccc;
  margin: auto;
  padding-bottom: 40px;
}
.section_premium-left {
  flex: 1;
  text-align: right;
}
.section_premium-left img {
  width: 300px;
  margin-right: 30px;
}
.section_premium-right {
  flex: 1;
}
.section_premium-item {
  display: flex;
  margin-bottom: 20px;
}
.section_premium-item img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.section_premium-item div {
  flex: 1;
  color: #999;
  line-height: 20px;
}
.section_premium-item div h4 {
  color: #000;
  font-size: 17px;
  font-weight: 600;
}

.section_premium .sliders_pointers {
  width: 100vw;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.section_premium .pointer {
  width: 15px;
  height: 15px;
  border: 2px solid #b28756;
  border-radius: 8px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}
.section-premium .pointer.active {
  background-color: #b28756;
}

.section_facts {
  display: flex;
}

.section_facts-item {
  flex: 1;
  text-align: center;
  padding: 15px;
}

.section_facts h3 {
  color: #b28756;
  font-size: 45px;
  font-weight: bold;
}

.section_facts-line {
  width: 20px;
  border-bottom: 2px solid #b28756;
  margin: auto;
}

.section_facts h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 18px;
}
.section_facts p {
  margin-top: 10px;
  font-size: 13px;
  color: #999;
}

.section_contact {
  max-width: 450px;
  margin: auto;
  text-align: center;
}

.section_contact input[type="text"],
.section_contact textarea {
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #ccc;
  outline: 0;
  margin-top: 10px;
}

.section_contact textarea {
  height: 100px;
  resize: none;
}
.section_contact-split {
  display: flex;
}
.section_contact-split input:first-child {
  margin-right: 20px;
}

.section_map {
  background-image: url("../assets/image/complementos/mapa.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section_map-area {
  width: 100vw;
  max-width: 1140px;
  margin: auto;
}
.section_map-info {
  width: 50%;
  padding: 30px;
  background-color: #fff;
  color: #000;
}
.section_map-info-item {
  display: flex;
  align-items: center;
  color: #999;
  margin-bottom: 10px;
}
.section_map-info-item-img {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #999;
  border-radius: 15px;
  margin-right: 15px;
}
.section_map-info-item-img img {
  width: 15px;
  height: auto;
}

footer {
  background-color: #000;
  padding: 20px;
}
.footer_area {
  max-width: 1140px;
  margin: auto;
  color: #fff;
  display: flex;
}
.footer_item {
  flex: 1;
}
.footer_social {
  display: flex;
}
.footer_social a {
  display: block;
  width: 25px;
  height: 25px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  margin-right: 10px;
}
.footer_social a:hover {
  background-color: #b28756;
}
.footer_social img {
  height: 10px;
}
.footer_item.area2 {
  color: #999;
  line-height: 20px;
  font-size: 13px;
  padding: 0 10px 10px 10px;
}
.footer_item.area3 form {
  background-color: #333;
  text-align: center;
  padding: 30px;
}
.footer_item.area3 input {
  width: 100%;
  height: 40px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #ccc;
  outline: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.menu_open {
  display: none;
}

@media (min-width: 450px) and (max-width: 800px) {
  .logo {
    margin-left: 30px;
  }
  .menu_open {
    display: block;
    width: 45px;
    margin-right: 30px;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.9);
    width: 70vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    font-weight: bold;
    height: 80px;
    font-size: 27px;
    margin-left: 50px;
    border: 0;
  }
  .menu li.active a {
    border: 0;
    color: #b28756;
  }

  .section_aboutus {
    flex-direction: column;
  }

  .section_aboutus-left {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .section_aboutus-right {
    margin: auto;
  }

  .section_services {
    flex-wrap: wrap;
  }
  .section_service {
    min-width: 50%;
    margin-bottom: 30px;
  }

  .section_service:first-child {
    border-left: 0;
  }

  .section_team {
    max-width: 580px;
  }
}

@media (max-width:450px) {
  .logo {
      margin-left:30px;
  }
  .menu_open {
      display:block;
      width:45px;
      margin-right:30px;
  }
  nav {
      display:none;
      position: absolute;
      z-index: 99;
      background-color: rgba(0, 0, 0, 0.9);  
      width: 80vw;
      height: calc(100vh - 100px);
      top: 100px;
      right: 0;
  }
  .menu ul {
      flex-direction:column;
  }

  .menu li a {
      font-weight:bold;
      height:60px;
      font-size:20px;
      margin-left:30px;
      border:0;
  }
  .menu li.active a {
      border:0;
      color:#B28756;
  }

  .banner h1 {
      font-size:30px;
  }
  .banner h2 {
      font-size:17px;
  }


  .section_aboutus {
      flex-direction:column;
  }
  .section_aboutus-left {
      margin-left:30px;
      margin-right:30px;
      margin-bottom:30px;
  }

  .section_aboutus-right {
      width:auto;
      margin-left:30px;
      margin-right:30px;
  }
  .section_aboutus-right img {
      width:100%;
  }

  .section_services {
      flex-wrap:wrap;
  }
  .section_service {
      min-width:100%;
      margin-bottom:30px;
  }
  .section_service:first-child {
      border-left:0;
  }

  .section_projects-filters {
      margin-left:30px;
      margin-right:30px;
  }
  .section_projects-photo {
      width:320px;
  }
  .section_projects-photoarea {
      width:300px;
      height:190px;
  }

  .section_team {
      max-width:280px;
  }

  .section_companies-area {
      flex-wrap:wrap;
  }
  .section_company {
      min-width: 50%;
      margin-bottom: 20px;
  }

  .section_price {
      flex-wrap:wrap;
  }
  .section_price-item {
      margin-left:20px;
      min-width:calc(100% - 40px);
      margin-bottom:20px;
  }
  .section_price-item:last-child {
      margin-right:20px;
  }

  .section_premium .slidearea {
      flex-direction: column;
  }
  .section_premium-left {
      text-align:center;
      margin-bottom:30px;
  }
  .section_premium-right {
      padding-left:20px;
      padding-right:20px;
  }

  .section_facts {
      flex-wrap:wrap;
  }
  .section_fact {
      min-width:100%;
  }

  .section_share {
      flex-wrap:wrap;
      justify-content: flex-start;
  }
  .section_share-legend {
      width:100vw;
      margin:0;
      margin-bottom:30px;
      justify-content: center;
  }
  .section_share-item {
      min-width: 50%;
      max-width: 50%;
      margin: 0;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
      
  }

  .section_contact {
      max-width:100vw;
      margin-left:20px;
      margin-right:20px;
  }
  .section_contact-split {
      flex-direction: column;
  }

  .section_map {
      padding:0;
      padding-bottom:250px;
  }
  .section_map-area {
      width:auto;
  }
  .section_map-info {
      width:auto;
  }
  .section_map-info-item {
      margin-bottom:20px;
  }
  .section_map-info-item:last-child {
      margin-bottom:0;
  }

  .footer_area {
      flex-direction:column;
  }
  .footer_item {
      margin-bottom:20px;
  }
  .footer_social {
      justify-content: center;
  }
}